    <div class="col-lg-8 col-md-8 col-12">
      <div class="mx-auto mt-4">
        <h1 class="text-center display-4" style="text-shadow: 2px 2px 4px rgba(5, 0, 0, 0.2);">Mes favoris</h1>
      </div>
    </div>


<div class="container">
  <% @bookmarks.each do |bookmark| %>
    <a href="<%= workspace_path(bookmark.workspace) %>" class="custom-link">
      <div class="workspace-card-index">
        <div class="workspace-image-index">
          <div class="image-container-index">
            <%= cl_image_tag bookmark.workspace.photos.first.key, crop: :fill %>
          </div>
            <%= render 'heart_fav', workspace: bookmark.workspace %>
        </div>
        <div class="card-content-index">
          <%= image_tag bookmark.workspace.user.photos.first, height: 50, width: 50, class: "avatar2", alt: "Photo" %>
          <span class="workspace-name"><%= bookmark.workspace.name %></span>
        </div>
      </div>
    </a>
  <% end %>
</div>
