
<!-- Titre -->
    <div class="col-lg-8 col-md-8 col-12">
      <div class="mx-auto mt-2 mb-3">
        <h1 class="text-center">Workspaces</h1>
      </div>
      <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: workspaces_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container">
  <!-- cards -->
      <div class="container">
        <div class="row">
          <% @workspaces.each do |workspace| %>
            <div class="col-lg-4 col-md-4 col-12 mb-5"> <!-- Réduisez la largeur des cartes ici -->
              <a href="<%= workspace_path(workspace) %>">
                <div class="card-trip card-trip-list custom-link">
                  <% workspace.photos.each do |photo| %>
                    <%= cl_image_tag photo.key, width: 340, crop: :fill %>
                  <% end  %>
                  <div class="card-trip-infos">
                    <div>
                      <h2><%= workspace.name %> </h2>  </a>
              </div>
        </div>
      </div>
    </div>
    <% end %>



<!-- map -->
    <div class="col-lg-4 col-md-4 col-12 d-md-block">
      <div class="row">
        <div class="col-12">
          <div style="square" id="map"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
</div>
