<div class="container text-center mt-4">
      <div class="mx-auto mt-4">
          <div class="chat-head">
            <div class="chat-title">Workspaces disponibles</div>
            <%= link_to :back, class: 'btn btn-default' do %>
            <i class="fa fa-arrow-left" style="font-size: 1.3em; color: #FFB116;"></i>
            <% end %>
          </div>
      <div class="top-divider"> </div>
</div>
</div>
<div class="container">
  <div class="row">
    <form id="search-form" action="<%= workspaces_path %>" method="GET">
      <div class="d-flex justify-content-between w-100 mt-0 form-group col-sm-8 icones">
        <div class="text-center icone">
          <input type="checkbox" id="parking" name="parking" class="tag-selector" />
          <label for="parking"> <i class="fa-solid fa-square-parking fa-2xl"> </i> </label>
          <p>Parking</p>
        </div>
        <div class="text-center icone">
          <input type="checkbox" id="ambiance" name="ambiance" class="tag-selector" />
          <label for="ambiance"> <i class="fa-solid fa-volume-xmark fa-2xl"> </i> </label>
          <p>Calme</p>
        </div>
        <div class="text-center icone">
          <input type="checkbox" id="internet_connexion" name="internet_connexion" class="tag-selector" />
          <label for="internet_connexion"> <i class="fa-solid fa-wifi fa-2xl"></i> </label>
          <p>Fibre</p>
        </div>
        <div class="text-center icone">
          <input type="checkbox" id="smoking" name="smoking" class="tag-selector" />
          <label for="smoking"> <i class="fa-solid fa-ban-smoking fa-2xl"></i> </label>
          <p>Fumeur</p>
        </div>
        <div class="text-center icone">
          <input type="checkbox" id="animals" name="animals" class="tag-selector" />
          <label for="animals"> <i class="fa-solid fa-ban fa-2xl"></i> </label>
          <p>Animaux</p>
        </div>
      </div>
      <div class="search-container align-items-center d-flex">
        <input type="text" id="search-input" class="search-input" placeholder="Où souhaitez-vous télétravailler ?" name="query">
        <button type="submit" class="yellow-btn-mini-home">
          <i class="fa-solid fa-magnifying-glass fa-2sl" style="color: #f7f7f7;"></i>
        </button>
      </div>
    </form>
  </div>
</div>

  <!-- Carte -->
  <div class="container mt-3">
  <% if @no_result %>
      <p> Pas de résultat correspondant à votre recherche</p>
    <% end %>
  <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  </div>
  <!-- Workspaces -->
  <% @workspaces.each do |workspace| %>
    <a href="<%= workspace_path(workspace) %>" class="custom-link">
      <div class="workspace-card-index mt-4">
        <div class="workspace-image-index">
          <div class="image-container-index">
            <%= cl_image_tag workspace.photos.first.key, crop: :fill %>
          </div>
          <%= render 'heart_index', workspace: workspace %>
        </div>
        <div class="card-content-index">
          <%= image_tag workspace.user.photos.first, height: 50, width: 50, class: "avatar2", alt: "Photo" %>
          <span class="workspace-name"><%= workspace.name %></span>
        </div>
      </div>
    </a>
  <% end %>
</div>
</div>
