<div class="text-center mx-auto mt-2 mb-3">
    <h1>Ajouter un workspace</h1>
</div>
<div class="container sm-12 m-6">
  <%= simple_form_for [@workspace] do |f| %>
      <div class="workspace-label">Nom:</div>
        <%= f.input :name, label: false %>
      <div class="workspace-label">Description:</div>
        <%= f.input :description, label: false%>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="workspace-label">Adresse:</div>
      <%= f.input :address, label: false,
        input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
        <div class="workspace-label">Capacité:</div>
          <%= f.input :capacity , collection: [ "1", "2", "3"], label: false%>
            <div class="d-flex justify-content-between align-items-center">
              <%= f.check_box :smoking, label: false, class:"d-none icon-selector" %>
              <%= f.label :smoking  do %>
                <div><i class="fa-solid fa-ban-smoking fa-2xl"></i></div>
              <% end %>
              <%= f.check_box :internet_connexion, label: false, class:"d-none icon-selector" %>
              <%= f.label :internet_connexion  do %>
                <div><i class="fa-solid fa-wifi fa-2xl"></i></div>
              <% end %>
              <%= f.check_box :parking, label: false, class:"d-none icon-selector" %>
              <%= f.label :parking  do %>
                <div><i class="fa-solid fa-square-parking fa-2xl"></i></div>
              <% end %>

            </div>
            <div class="workspace-label">Animaux:</div>
              <%= f.input :animals, collection: [ "Aucun", "Chat", "Chien"], label: false %>
            <div class="workspace-label">Ambiance:</div>
              <%= f.input :animals, collection: [ "Calme", "Animé"], label: false %>
              <%= f.button :submit, "Proposer mon workspace", class: 'container btn yellow-btn btn-lg btn-block text-white' %>
          </div>
      <% end %>
</div>
