<%= image_tag @workspace.user.photos.first, height: 30, width: 30, class: "avatar2", alt: "Photo" %>
<div class="container-fluid">
    <h1><%= @workspace.name %></h1>
        <div class="col-lg-4 col-md-4 col-12 pb-5 mb-5"> <!-- Réduisez la largeur des cartes ici -->
          <div class="card-trip card-trip-list custom-link">
            <div class="row heart-position">
              <% @workspace.photos %>
                <%= render "heart" %>
                <%= cl_image_tag @workspace.photos.first.key, width: 500, crop: :fill %>
                  <div class="mx-auto p-4 mt-2 mb-3">
                    <ul>
                      <li> Adresse : <%= @workspace.address %> </li>
                      <li> Nombre de places disponibles : <%= @workspace.capacity %> </li>

                       <div class= "d-flex justify-content-between"> Connexion internet: <% if @workspace.internet_connexion%>
                      <div><i class="fa-solid fa-check fa-beat fa-2xl" style="color: #004792;"></i></div>
                      <% else %>
                      <div><i class="fa-solid fa-xmark fa-beat fa-2xl" style="color: #004792;"></i></div>
                      <% end %>
                      Fumeur :
                      <% if @workspace.smoking%>
                      <div><i class="fa-solid fa-check fa-beat fa-2xl" style="color: #004792;"></i></div>
                      <% else %>
                      <div><i class="fa-solid fa-xmark fa-beat fa-2xl" style="color: #004792;"></i></div>
                      <% end %></div>
                      <li> Présence d'aimaux : <%= @workspace.animals %> </li>
                    </ul>
                  </div>
                  <%= simple_form_for([@workspace, @booking]) do |f| %>
                  <div>Date booking</div>
                  <%= f.input :start_date, label:false,
                    as: :string,
                    input_html: { data: { controller: "datepicker" } } %>
                    <%= f.button :submit, class: "btn yellow-btn" %>
                    <% end %>
            </div>
          </div>
        </div>
    </div>
