<div class="container-fluid">
  <div class="mx-auto mt-4">
    <h1 class="text-center display-4" style="text-shadow: 2px 2px 4px rgba(5, 0, 0, 0.2);"><%= @workspace.name %> <%= image_tag @workspace.user.photos.first, height: 50, width: 50, class: "avatar2", alt: "Photo" %></h1>
  </div>
  <div class="workspace-card">
    <div class="workspace-image">
      <% @workspace.photos %>
      <%= cl_image_tag @workspace.photos.first.key, crop: :fill %>
      <%= render "heart" %>
    </div>
    <ul class="workspace-infos">
      <div class="d-flex justify-content-around"><li><i class="fa-solid fa-location-dot fa-xl" style="color: #004792;"></i>   <%= @workspace.address %> </li></div>
       <div class="font-awesome d-flex justify-content-around"><li><i class="fa-solid fa-user fa-2xl" style="color: #004792;"></i><%= @workspace.capacity %> </li>
     <li><% if @workspace.internet_connexion %>
      <i class="fa-solid fa-wifi fa-2xl" style="color: #004792;"></i>
      <% else %>
      <i class="fa-solid fa-wifi fa-2xl" style="color: #CDCBD2;"></i>
      <% end %>
      <li>
      <% if @workspace.smoking %>
      <i class="fa-solid fa-smoking fa-2xl" style="color: #004792;"></i>
      <% else %>
      <i class="fa-solid fa-smoking fa-2xl" style="color: #CBCDD2;"></i>
      <% end %>
      </li>
      <li><% if @workspace.animals == "chien"%>
      <i class="fa-solid fa-dog fa-2xl" style="color: #004792;"></i>
      <% elsif @workspace.animals == "chat" %>
      <i class="fa-solid fa-cat fa-2xl" style="color: #004792;"></i>
      <% elsif @workspace.animals == "autre" %>
       <i class="fa-solid fa-paw fa-2xl" style="color: #004792;"></i>
      <% else  %>
      <i class="fa-solid fa-paw fa-2xl" style="color: #cdcbd2;"></i>
      <% end %>
      </li></div>
      <li class="workspace-info-date"> <%= simple_form_for([@workspace, @booking]) do |f| %>
      <div>Date souhaitée :</div>
      <div class="workspace-date-box">
        <div class="input-left">
            <%= f.input :start_date, label: false,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
        </div>
          <div class="chat-right">
            <i class="fa-regular fa-comment fa-2xl" style="color: #ffb116;"></i>
          </div>
        </div>
      <%= f.button :submit, "Envoyer ma demande", class: "bouton-show btn yellow-btn" %>
    <% end %></li>
    </ul>

  </div>
</div>
