<div class="container-fluid">
      <div class="card-user-workspace">
         <%= image_tag @workspace.user.photos.first, height: 70, width: 70, class: "avatar2", alt: "Photo" %>
        <div class="name-workspace-show"><h1 class="text-center display-4" style="text-shadow: 2px 2px 4px rgba(5, 0, 0, 0.2);"><%= @workspace.name %></h1>
        <h1><%= @workspace.user.first_name %></h1></div>
      </div>
       <!-- Réduisez la largeur des cartes ici -->

        <div class="card-show">
            <div class="row heart-position">
              <% @workspace.photos %>
                <%= render "heart" %>
              <%= cl_image_tag @workspace.photos.first.key,class:"image-show", width: 500, crop: :fill %>

                  <div class="card-trip-show-infos">
                    <ul>
                      <li> Adresse : <%= @workspace.address %> </li>
                      <li> Nombre de places disponibles : <%= @workspace.capacity %> </li>

                      <div class= "d-flex justify-content-between"> Fibre : <% if @workspace.internet_connexion%>
                      <div><i class="fa-solid fa-check fa-beat fa-2xl" style="color: #004792;"></i></div>
                      <% else %>
                      <div><i class="fa-solid fa-xmark fa-beat fa-2xl" style="color: #004792;"></i></div>
                      <% end %>
                      Fumeur :
                      <% if @workspace.smoking%>
                      <div><i class="fa-solid fa-check fa-beat fa-2xl" style="color: #004792;"></i></div>
                      <% else %>
                      <div><i class="fa-solid fa-xmark fa-beat fa-2xl" style="color: #004792;"></i></div>
                      <% end %></div>
                      <li> Présence d'animaux : <%= @workspace.animals %> </li>
                    </ul>
                    <%= simple_form_for([@workspace, @booking]) do |f| %>
                      <div class= "input-booking">Date souhaitée :</div>
                      <%= f.input :start_date, label: false,
                        as: :string,
                        input_html: { data: { controller: "datepicker" } } %>
                      <%= f.button :submit, "Envoyer ma demande", class: "submit-show btn yellow-btn" %>
                    <% end %>
                  </div>
            </div>
          </div>
          </div>
        </div>
