<div class="container text-center mt-4">
      <div class="mx-auto mt-4">
          <div class="chat-head">
            <div class="chat-title">Mes discussions</div>
            <div class="icon-bubble msg"> </div>
          </div>
      <div class="top-divider"> </div>
<% @user1_chatrooms.each do |chatroom| %>
  <div class="chatroom mt-3">
    <%= link_to chatroom_path(chatroom) do %>
      <%= cl_image_tag(chatroom.user2.photos.last.key, height: 70, width: 70, crop: :fill) if chatroom.user1.photos.attached? %>
    <% end %>
    <strong><h4> <%= link_to chatroom.user2.first_name, chatroom_path(chatroom), class: "chatroom-link" %></strong></h4>
  </div>
<% end %>

<% @user2_chatrooms.each do |chatroom| %>
  <div class="chatroom">
    <%= link_to chatroom_path(chatroom) do %>
      <%= cl_image_tag(chatroom.user1.photos.last.key, height: 70, width: 70, crop: :fill) if chatroom.user2.photos.attached? %>
    <% end %>
    <strong><h4> <%= link_to chatroom.user1.first_name, chatroom_path(chatroom), class: "chatroom-link" %></strong></h4>
  </div>
<% end %>
  </div>
</div>
