<div class="container text-center mt-4">
      <div class="mx-auto mt-4">
          <div class="chat-head">
            <div class="chat-title">Chatroom</div>
            <%= link_to :back, class: 'btn btn-default' do %>
            <i class="fa fa-arrow-left" style="font-size: 1.3em; color: #FFB116;"></i>
            <% end %>
          </div>
      <div class="top-divider">
      </div>
      </div>
</div>
<div id="chatrooms" class="d-flex justify-content-center">
  <div class="chatroom">
    <% other_user = @chatroom.user1 == current_user ? @chatroom.user2 : @chatroom.user1 %>

    <div class="user-info">
      <strong class="user-name"><%= other_user.first_name %> </strong>
      <details class="user-details">
        <summary>
          <%= cl_image_tag(other_user.photos.last.key, width: 90, crop: :fill) %>
          <i class="fa-solid fa-circle-chevron-down fa-ls" style="color: #004792;"></i>
        </summary>
        <p class="description-text"><%= other_user.description %></p>
      </details>
    </div>

  </div>
</div>

<div class="container chat-container">
  <div class="chat-container" data-controller="chatroom-subscription"
       data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
       data-chatroom-subscription-target="messages">
<% @chatroom.messages.each_with_index do |message, index| %>
  <%= render "messages/message",
             message: message,
             current_user: current_user,
             is_last: index == @chatroom.messages.length - 1 %>
<% end %>
  </div>

  <div class="form-group msg-form">
    <%= form_with(model: [@chatroom, @message], remote: true, class: "d-flex",
          id: 'chat-form',
          data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |f| %>
      <%= f.text_field :content, id: 'chat-text', class: "form-control msg-content", autocomplete: 'off' %>
  <%= button_tag(type: 'submit', class: "yellow-btn-mini") do %>
    <i class="fa-solid fa-share" style="color: #f7f7f7;"></i>
    <% end %>
    <% end %>
  </div>
  </div>

<script>
  document.addEventListener('turbo:render', () => {
    const container = document.querySelector('.chat-container');

    container.addEventListener('click', (event) => {
      const messageContainer = event.target.closest('.message-container');
      if (!messageContainer) return;

      if (messageContainer.id === 'last-message-container') {
        container.dispatchEvent(new CustomEvent('lastMessageClicked', { bubbles: true }));
      }

      const dateElement = messageContainer.querySelector('.message-date1, .message-date2');
      if (dateElement) {
        dateElement.style.display = dateElement.style.display === 'none' ? 'block' : 'none';
      }
    });
  });

  document.addEventListener("turbo:submit-end", (event) => {
    if (event.target.id === 'chat-form') {
      event.target.reset();
    }
  });
</script>
