<div class="navbar navbar-expand px-2">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <%= image_tag('svg/Home-icon-gray.svg', class: "nav-link", style: "width: 50%;") %>
      </li>
      <li class="nav-item">
        <%= image_tag('svg/Heart-icon-gray.svg', class: "nav-link", style: "width: 50%;") %>
      </li>
      <li class="nav-item">
        <%= image_tag('svg/Laptop-icon-gray.svg', class: "nav-link", style: "width: 50%;") %>
      </li>
      <li class="nav-item">
        <%= image_tag('svg/Chat-icon-gray.svg', class: "nav-link", style: "width: 50%;") %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= image_tag('svg/Profil-icon-gray.svg', class: "nav-link", style: "width: 50%;") %>
        <% else %>
          <%= image_tag('svg/Profil-icon-gray.svg', class: "nav-link", style: "width: 50%;") %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
