<div class="container mt-10">
  <div class="row">
    <div class="col-12 text-center logo-carr ">
      <img class="img-fluid" src="https://i.ibb.co/CBtyrxS/logo-coworkers-6.png" alt="Coworkers-Logo">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <h3 class="mt-4" style="font-size: 25px;">Je cherche un workspace</h3>
        <form id="search-form" action="<%= workspaces_path %>" method="GET">
          <div class="d-flex justify-content-between w-100 mt-0 form-group col-sm-8 icones ">
            <div class="text-center icone">
              <input type="checkbox" id="parking" name="parking" class="tag-selector" />
              <label for="parking"> <i class="fa-solid fa-square-parking fa-2xl"> </i> </label>
              <p>Parking</p>
            </div>
            <div class="text-center icone">
              <input type="checkbox" id="ambiance" name="ambiance" class="tag-selector" />
              <label for="ambiance"> <i class="fa-solid fa-volume-xmark fa-2xl"> </i> </label>
              <p>Calme</p>
            </div>
            <div class="text-center icone">
              <input type="checkbox" id="internet_connexion" name="internet_connexion" class="tag-selector" />
              <label for="internet_connexion"> <i class="fa-solid fa-wifi fa-2xl"></i> </label>
              <p>Fibre</p>
            </div>
            <div class="text-center icone">
              <input type="checkbox" id="smoking" name="smoking" class="tag-selector" />
              <label for="smoking"> <i class="fa-solid fa-ban-smoking fa-2xl"></i> </label>
              <p>Fumeur</p>
            </div>
            <div class="text-center icone">
              <input type="checkbox" id="animals" name="animals" class="tag-selector" />
              <label for="animals"> <i class="fa-solid fa-ban fa-2xl"></i> </label>
              <p>Animaux</p>
            </div>
          </div>
          <div class="search-container align-items-center">
            <input type="text" id="search-form" class="search-input" placeholder="Où souhaitez-vous télétravailler?" name="query">
            <button class="btn-no-style" type="submit"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #004792;"></i> </button>
          </div>
        </form>
      </div>
  </div>

<div class="container">
  <div class="mt-4">
    <h3 style="font-size: 25px;">Workspaces autour de moi</h3>
  </div>
</div>
<div class="container">
  <div class="row">
      <ul class="card-list">
        <% @workspaces.each do |workspace| %>
          <li><%= link_to workspace_path(workspace) do %>
            <article class="card">
              <img
                class="card__background"
                src=" <%= cl_image_path workspace.photos.first.key, width: 500, crop: :fill %>"
                alt="Photo d'un workspace"
                width="1920"
                height="2193"
              />
              <div class="card__content">
                <div class="card__content--container">
                  <h2 class="card__title"> <%= workspace.name %></h2>
                    <div class="divider">
                    </div>
                    <p class="card__description">
                      <%= workspace.ambiance %> | <%= workspace.smoking ? "Fumeur" : "Non fumeur" %> | <%= workspace.animals == "non" ? "Pas d'animaux" : "#{workspace.animals}" %>
                    </p>
                  </div>
                </div>
              </article>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


<div class="container">
  <div class="mt-3">
    <h3 style="font-size: 25px;">Je propose un workspace</h3>
  </div>
</div>
<div class="container">
    <div class="col-11 text-center">
          <div class="col-11 text-center">
            <a class="yellow-btn btn-home" href="<%= new_workspace_path %>">Ajouter un workspace</a>
      </div>
    </div>
</div>
