<div class="container mt-4">
      <div class="mx-auto mt-4">
          <div class="chat-head">
            <div class="chat-title">Mon Profil</div>
            <%= link_to :back, class: 'btn btn-default' do %>
            <i class="fa fa-arrow-left" style="font-size: 1.3em; color: #FFB116;"></i>
            <% end %>
          </div>
      <div class="top-divider"> </div>


<div class="container-profile">
  <div class="card-product-dashboard-3">
        <%= link_to(edit_user_registration_path) do %>
        <i class="fa-solid fa-pencil position-absolute top-20 end-40" style="color: #3F7CAF;"></i>
        <% end %>

        <div class="profile-name">
        <%= @user.first_name %> <%= @user.last_name %>
        </div>

    <div class="profile-details">

      <div class="profile-details-left">
        <%= image_tag @my_workspaces.first.user.photos.first, class: "avatar-profile-details-dashboard", alt: "Photo" %>
      </div>

      <div class="profile-details-right">
        <div data-controller="read-more">
          <p data-read-more-target="truncate">
            <%= truncate(@user.description, length: 100) %>
          </p>
          <p data-read-more-target="fullText" class="d-none">
            <%= @user.description %>
          </p>
          <a href="#" data-action="click->read-more#toggle">Lire plus</a>
        </div>


      </div>
    </div>

    <br>

    <h2 class="profile-title">Partage de skills</h2>
    <h3>Mes skills à partager <i class="fa-solid fa-wrench"></i></h3>
      <div class="profile-content">
        <% @user.skills.each do |skill| %>
          <%= skill %>
          <% end %>

    <div>
      <p>Entrez un skill supplémentaire</p>
    </div>
          <%= simple_form_for(@user, url: user_path(@user), method: :patch) do |f| %>
             <div class="d-flex end">
          <%= f.input :skills, input_html: {value: current_user.skills.join(", "), class: "linkedin-form-1"}, label: false%>
          <div class ="row">
                <%= button_tag class:"btn-no-style2" do %>
              <i class="fa-regular fa-square-check fa-xs" style="color: #004792;"></i>
                <% end %>
            </div>
          <% end %>
    </div>

    <div class="profile-content">
      <h3>Skills recherchées</h3>
        <% @user.desired_skills.each do |skill| %>
        <%=  skill %>
        <% end %>

    <div>
      <p>Entrez un skill supplémentaire</p>
    </div>
          <%= simple_form_for(@user, url: user_path(@user), method: :patch) do |f| %>
          <div class="d-flex end">
            <div class ="row">
              <%= f.input :desired_skills, input_html: {value: current_user.desired_skills.join(", "), class: "linkedin-form-1"}, label: false%>
            </div>
            <div class ="row">
                <%= button_tag class:"btn-no-style2" do %>
              <i class="fa-regular fa-square-check fa-xs" style="color: #004792;"></i>
                <% end %>
            </div>
          </div>
          <% end %>

    <br>

    <h2 class="profile-title">Paramètres</h2>
    <div class="profile-content">
      <h3>Informations personnelles</h3>
      <h3>Notifications</h3>
      <div class="linkedin-left">
        <h3>Lier mon profil <i class="fa-brands fa-linkedin"></i></h3>
      </div>
      <div class="button-linkedin-row">
        <%= simple_form_for(@user, url: user_path(@user), method: :patch) do |f| %>
          <%= f.input :linkedin_url, input_html: {class: "linkedin-form-1"}, label: false %>
        <% end %>
      </div>
    </div>

    <h3>Se déconnecter</h3>
  </div>

  <br>

<div class="container">
    <div class="col-11 text-center">
          <div class="col-11 text-center">
            <a class="yellow-btn btn-home" href="<%= new_workspace_path %>">Ajouter un workspace</a>
      </div>
    </div>
</div>

</div>
</div>
</div>
