<h1>Mon dashboard</h1>

<div class="card-product">

  <%= image_tag @my_workspaces.first.user.photos.first, height: 30, width: 30, class: "avatar2", alt: "Photo" %>
  <div class="card-product-infos">
    <div class="row">
    <h2>Mon profil</h2>
    <ul>
      <li> <%=  pluralize(@my_workspaces.count, 'workspace', plural:'workspaces') %> </li>
      <li>  <%= pluralize(@my_bookings.count, 'réservation', plural:'réservations')  %>  </li>

      <li> <%=  @bookings_of_my_workspaces.count %>  coworkers accueillis </li>
<li > <%= link_to "Editer mon profil", edit_user_registration_path %></li>
  </div>
</div>
</div>

<div class="card-product">
  <div class="card-product-infos">
    <div class="row">
      <h2>Mes réservations</h2>
       <br>
      <ul> <% current_user.bookings.each do |booking| %>
        <li> <%= booking.workspace.name %> </li>
        <li> <%= booking.start_date %> au <%= booking.end_date %> </li>
        <li>Statut : <%= booking.status %> </li>
      <% end %></ul>
  </div>
</div>
</div>

<div class="card-product3">
  <div class="card-product-infos">
    <div class="row">

      <h2>Mes workspaces</h2>
      <ul><% current_user.bookings_workspaces.each do |booking| %>
        <li> <%= booking.workspace.name %> </li>
        <li> <%= booking.start_date %> au <%= booking.end_date %> </li>
        <li><% if booking.status == "pending" %>
                <%= link_to "Accept", accept_booking_path(booking), data:{turbo_method: :patch}, class: "yellow-btn-mini " %>
                <%= link_to "Decline", decline_booking_path(booking), data:{turbo_method: :patch}, class: "yellow-btn-mini-clair" %>
              <% else %>
                Statut : <%= booking.status %>
              <% end %><li>
                 <br>
      <% end %></ul>
  </div>
</div>
</div>

s
