<div class="container text-center mt-4">
      <div class="mx-auto mt-4">
          <div class="chat-head">
            <div class="chat-title">Mon dashboard</div>
            <div class="icon-bubble msg"> </div>
          </div>
      <div class="top-divider"> </div>

<div class="container">

    <div class="card-product-dashboard-3">
          <h2>Mon profil</h2>
      <div class="profile-details">
        <div class ="profile-details-left">
        <%= image_tag @my_workspaces.first.user.photos.first, class: "avatar-profile-details-dashboard", alt: "Photo" %>
        </div>

        <div class ="profile-details-right">
          <ul>
            <li> <%=  pluralize(@my_workspaces.count, 'workspace', plural:'workspaces') %> </li>
            <li>  <%= pluralize(@my_bookings.count, 'réservation', plural:'réservations')  %>  </li>

            <li> <%=  @bookings_of_my_workspaces.count %>  coworkers accueillis </li>
            <li > <%= link_to "Editer mon profil", edit_user_registration_path%></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="card-product-dashboard-3">
          <h2>Mes réservations</h2>
          <ul> <% current_user.bookings.each do |booking| %>
          <div class="reservation-details">
            <div class="reservation-details-left">
              <div class="workspace-name"><%= booking.workspace.name %> </div>
              <div>
                <%=l booking.start_date, format: :long %>
                <% if booking.end_date.present? && booking.end_date != booking.start_date %>
                  au <%=l booking.end_date, format: :long %>
                <% end %>
              </div>
              Statut <%= booking.status %>
            </div>
            <div class="reservation-details-right">
              <%= image_tag booking.workspace.photos.first, class: "photo-reservation", alt: "Photo" %>
            </div>
          </div>
          <hr>
          <% end %></ul>
          </div>


    <div class="card-product-dashboard-3">
      <h2>Demandes reçues</h2>
        <% current_user.bookings_workspaces.each do |booking| %>
        <div class="reservation-details">
          <div class="reservation-details-left">
            <div class="workspace-name"> <%= booking.workspace.name %> </div>
              <div>
                <%=l booking.start_date, format: :long %>
                <% if booking.end_date.present? && booking.end_date != booking.start_date %>
                  au <%=l booking.end_date, format: :long %>
                <% end %>
              </div>
            <% if booking.status == "en cours" %>
              <div class="accept-decline">
                <div class="accept"><%= link_to "Confirmer", accept_booking_path(booking), data:{turbo_method: :patch} %></div>
                <div class="decline"><%= link_to "Décliner", decline_booking_path(booking), data:{turbo_method: :patch} %></div>
              </div>
            <% else %>
              Réservation <%= booking.status %>
            <% end %>
          </div>

          <div class="reservation-details-right">
            <div class="reservation-photo">
              <%= image_tag booking.workspace.photos.first, class: "photo-reservation", alt: "Photo" %>
            </div></li>

            </div>
      </div>
        <hr>
        <% end %>
    </div>
</div>
</div>
</div>
